                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0" role="presentation">
                  <tr>
                    <td class="content-cell" align="center">
                      <p class="f-fallback sub align-center">
                        Le Portail insertprojectnamehere
                        <br>insertprojectaddresshere,
                        <br>insertprojectaddresshere
                      </p>
                      <p class="f-fallback sub align-center" style="font-size:0.7rem;">&copy; {{ currentYear }} Le Portail insertprojectaddresshere . Tous les droits sont réservés.</p>                      <p class="copyright" style="text-align: center;font-size:0.6rem;">Powered by <a href="https://tekru.net" style="color: " target="_blank">Tekru Technologies</a></p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>